:root{
    --black:#0D1B2A;
    --darkblue:#1B263B;
    --blue:#415A77;
    --lightblue:#778DA9;
    --offwhite:#E0E1DD;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'TASA Explorer',Arial, Helvetica, sans-serif;
    background: var(--offwhite);
    height:100vh;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 2rem;
}

h1,h2{
    padding:5px;
}

.container {
    position:relative;
    left:25%;
    top:20%;
    width:50%;
    height:40%;
    background: var(--lightblue);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:0px 0px 50px 10px var(--black) ;
}

.header{
    background:#0D1B2A;
    height:30px;
    width:100%;
    padding-left:20px;
    display:flex;
    align-items: center;
}

.header button{
    background:var(--blue);
}

.main{
    height:90%;
    top:5%;
}

.tiny-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.title-container {
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Made with angry tools css generator:https://angrytools.com/css/animation/ */
.title {
		display: flex;
		align-items: center;
		justify-content: center;
        overflow: hidden;
        width:100%;
	}
	.at-item {
		color: var(--darkblue); font-size:2.8em;
		
		animation-name: focus-in-contract;
		animation-duration: 1.2s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: focus-in-contract 1s linear 0s 1 normal none;*/
	}
	@keyframes focus-in-contract {
			
		0% {
			letter-spacing:1em;
			filter:blur(12px);
			opacity:0;
		}
		100% {
			filter:blur(0);
			opacity:1;
		}
	}

.description p{
    text-transform: capitalize;
    font-style: italic;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:70%;
}

/* Taken from a collection on Prismic: https://codepen.io/nefejames/pen/dPbGxpE*/
.btn-border-reveal {
    height:3rem;
    width:5rem;
  background-color: transparent;
  color: var(--darkblue);
  border: 2px solid var(--darkblue);
  position: relative;
  cursor: pointer;
}

.btn-border-reveal::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--darkblue);
  transition: width 0.3s ease;
  z-index: 1;
}

.btn-border-reveal span{
    position:relative;
    z-index: 2;
}

.btn-border-reveal:hover::after {
  width: 100%;
}

.btn-border-reveal:hover {
  color: var(--lightblue);
}

.message-list {
    height:70%;
}

#relevant-messages{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5px;
}

#relevant-messages li{
    width:100%;
    border:1px solid var(--darkblue);
    padding:5px;
    background-color: transparent;
    text-align: center;
    transition:background-color ease .5s;
}

#relevant-messages li:hover{
    background-color: var(--blue);
}